/* showcase */
#showcase{
    background:url(../../img/universe.jpg) no-repeat center;
    height: 600px;
}

#showcase .showcase-content{
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1{
    font-size: 60px;
    /* 行高 */
    line-height: 1.2em;
}

#showcase .showcase-content p{
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}


/* home-info */
#home-info{
    height: 600px;
    background-color: #333;
}

#home-info .info-img{
    float: left;
    width: 50%;
    background: url(../../img/PlanetaryEngine.jpg) no-repeat center;
    height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    text-align: center;
    height: 100%;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p{
    padding-bottom: 30px;
}

