/* reset */
*{
    padding: 0;
    margin: 0;
    /* 为了之后给内容添加padding不影响整体布局 */
    box-sizing: border-box;
}



/* main styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    /* 清除下划线 */
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}



/* utility classes */
.container{
    margin: 0 auto;
    max-width: 1100px;
    /* 防止magin塌陷，清除浮动 */
    overflow: hidden;
    padding: 0 20px;
}

.text-primary{
    color: goldenrod;
}

.clr{
    clear: both;
}

.py{
    padding: 10px 0px;
}

.l-heading{
    font-size: 40px;
    padding-top: 20px;
}



/* navbar */
#navbar
{
    background-color: #333;
    color: #fff;
    overflow:auto;
}

#navbar a{
    color: #fff;
}

#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar ul{
    float:right;
    list-style: none;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    /* 由于需要设置a的padding值，需要先将其转换为块 */
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background-color: #444;
    color:goldenrod;
}



/* footer */
#main-footer{
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
}



.btn{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background-color: #333;
    padding: 13px 20px;
    border: none;
}

.btn:hover{
    background-color: goldenrod;
}

.btn-dark{
    background-color: #333;
    color: #fff;
}

/* feature */
.box{
    float: left;
    width: 33%;
    padding: 50px;
    text-align: center;
    ;
}

.box i{
    margin-bottom: 10px;
}

.bg-dark{
    background: gray;
    color: #333;
}

.bg-primary{
    background-color: gainsboro;
    color: #333;
}